<%- include('./shared/head.ejs') %>
    </head>

    <%- include('./shared/navigation.ejs') %>
        <h1>Something went wrong!</h1>
        <p>we are trying to resolve it ASAP</p>

        <%- include('./shared/end.ejs') %>