<%- include('./shared/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<%- include('./shared/navigation.ejs') %>
    <main>
        <h1>My Products</h1>
        <% if(prods.length> 0 ) { %>
            <ul>
                <% prods.forEach(product=> { %>
                    <li>
                        <%= product.title %>
                    </li>
                <% }) %>
            </ul>
        <% } else { %>
                <p>No Products available</p>
        <% } %>
    </main>
<%- include('./shared/end.ejs') %>