<%- include('../shared/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    </head>

    <body>
        <%- include('../shared/navigation.ejs') %>
            <main>
                <% if (errorMessage) { %>
                    <div class="user-message user-message--error"><%= errorMessage %></div>
                <% } %>
                <form class="form" action="/signup" method="POST">
                    <div class="form-control">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password">
                    </div>
                    <div class="form-control">
                        <label for="confirmPassword">Confirm Password</label>
                        <input type="confirmPassword" name="confirmPassword" id="confirmPassword">
                    </div>
                    <div class="form-control">
                        <button class="btn" type="submit">
                            Reset Password
                        </button>
                    </div>
                </form>
            </main>
            <%- include('../shared/end.ejs') %>