<%- include('../shared/head.ejs') %>
    </head>

    <body>
        <%- include('../shared/navigation.ejs') %>
        <main>
            <ul>
                <!-- <% cart.pr%> -->
            </ul>
        </main>
        <%- include('../shared/end.ejs') %>